body {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    margin-left: 0px;
    margin-right: 0px;
}

h2{
    padding: 0px;
    margin:0px;
}

* {
    box-sizing:border-box;
}

@media (min-width:992px) {
    .anchor{
        padding: 10px;
    }
    
    .titulo{
        text-align: center;
        padding-top: 20px;  
        padding-bottom: 20px;
    }
    .rectangle{
        overflow: hidden;
        background-color: #808080;
        width: 30%;
        height: 250px;
        border: solid black 1px;
        float:left;
        padding: 10px;
        padding-right: 0px;
        padding-top: 0px;
        margin-left: 1.6%;
        margin-right: 1.6%;
    }
    .texto{
        bottom: 0px;
        margin-top: 0px;
        margin-right: 10px;
        clear:right;
    }
    
    .mini_title {
        background-color: blueviolet;
        text-align: center; 
        width:40%;
        height: 30px;
        border:1px solid black;
        margin-bottom: 10px;
        margin-right: 0px;
        float:right;
    }
    .first{
        background-color: #3341FF;
    }
    .second{
        background-color: #F349F8;
    }
    .third{
        background-color: #3EF713;
    }

}

@media (min-width:768px) and (max-width:991px){
    .anchor{
        padding: 10px;
    }
    
    .titulo{
        text-align: center;
        padding-top: 20px;  
        padding-bottom: 20px;
    }
    .rectangle{
        overflow: hidden;
        background-color: #808080;
        width: 48%;
        height: 250px;
        border: solid black 1px;
        float:left;
        padding: 10px;
        padding-right: 0px;
        padding-top: 0px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 10px;
    }

    .special {
        width: 98%;
        height: 150px;
        margin-left: 1%;
        margin-right: 1%;

    }

    .texto{
        bottom: 0px;
        margin-top: 0px;
        margin-right: 10px;
        clear:right;
    }
    
    .mini_title {
        background-color: blueviolet;
        text-align: center; 
        width:40%;
        height: 30px;
        border:1px solid black;
        margin-bottom: 10px;
        margin-right: 0px;
        float:right;
    }
    .first{
        background-color: #3341FF;
    }
    .second{
        background-color: #F349F8;
    }
    .third{
        background-color: #3EF713;
        width:20%;
    }
}

@media (max-width:767px){
    .anchor{
        padding: 10px;
    }
    
    .titulo{
        text-align: center;
        padding-top: 20px;  
        padding-bottom: 20px;
    }
    .rectangle{
        overflow: hidden;
        background-color: #808080;
        width: 98%;
        height: 200px;
        border: solid black 1px;
        float:left;
        padding: 10px;
        padding-right: 0px;
        padding-top: 0px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 30px;
    }
    .texto{
        bottom: 0px;
        margin-top: 0px;
        margin-right: 10px;
        clear:right;
    }
    
    .mini_title {
        background-color: blueviolet;
        text-align: center; 
        width:40%;
        height: 30px;
        border:1px solid black;
        margin-bottom: 10px;
        margin-right: 0px;
        float:right;
    }
    .first{
        background-color: #3341FF;
    }
    .second{
        background-color: #F349F8;
    }
    .third{
        background-color: #3EF713;
    }
}




